In [1]:
import pandas as pd

# Setting Up a DateTime Index
Time series analysis in pandas become powerfull only after our dates are set correctly as an index.

In [2]:
# Sample DataFrame
df = pd.DataFrame({
    "Date": ["2023-01-01", "2023-01-02", "2023-01-03", "2023-01-04"],
    "Sales": [100, 120, 90, 150]
})

df

         Date  Sales
0  2023-01-01    100
1  2023-01-02    120
2  2023-01-03     90
3  2023-01-04    150

`Date` is a String (object) which is not suitable for time-series operation.

## 1. Convert Date column to DateTime

In [3]:
df.dtypes

Date     object
Sales     int64
dtype: object

In [4]:
df["Date"] = pd.to_datetime(df["Date"])
df.dtypes

Date     datetime64[ns]
Sales             int64
dtype: object

## 2. Set Date column as index

In [5]:
df_ts = df.set_index("Date")
df_ts

            Sales
Date
2023-01-01    100
2023-01-02    120
2023-01-03     90
2023-01-04    150

## 3. Why DateTime index is important
- slice by date ranges
- resample data
- Use rolling window by time
- Shift data in time
- Align multiple time-series

## 4. Time-Based indexing

In [11]:
# Select specific range
df_ts.loc["2023-01-02"]

Sales    120
Name: 2023-01-02 00:00:00, dtype: int64

In [10]:
# Select Date range
df_ts.loc["2023-01-02":"2023-01-04"]

            Sales
Date
2023-01-02    120
2023-01-03     90
2023-01-04    150

## 5. Sort by Date Index

In [12]:
df_ts = df_ts.sort_index()

In [13]:
df_ts

            Sales
Date
2023-01-01    100
2023-01-02    120
2023-01-03     90
2023-01-04    150

## 6. Reset Date Index

In [14]:
df_ts.reset_index()

        Date  Sales
0 2023-01-01    100
1 2023-01-02    120
2 2023-01-03     90
3 2023-01-04    150

---

# Summary

1. Convert string date to DateTime - `pd.to_datetime(df["Date"])`
2. Set Date column as index - `df.set_index("Date")`
3. Time based indexing - `df.loc["2026-01-06"]` or `df.loc["2026-01-01":"2023-01-01"]`