In [1]:
import pandas as pd

# Shifting & Lagging Data

In [2]:
# Sample DataFrame

df = pd.DataFrame({
    "Date": pd.date_range("2023-01-01", periods=6, freq="D"),
    "Sales": [100, 120, 90, 150, 170, 160]
})

df = df.set_index("Date")
df

            Sales
Date
2023-01-01    100
2023-01-02    120
2023-01-03     90
2023-01-04    150
2023-01-05    170
2023-01-06    160

## 1. What does shift() do?
`shift() moves data forward and backward in time without changing index`  
This function can work with non-DateTime index also.

## 2. Basic Shift (Lag by 1)

In [3]:
# Shift down by 1 row so current row will contain above's row content

df["Previous_day_sale"] = df["Sales"].shift(1)
df

            Sales  Previous_day_sale
Date
2023-01-01    100                NaN
2023-01-02    120              100.0
2023-01-03     90              120.0
2023-01-04    150               90.0
2023-01-05    170              150.0
2023-01-06    160              170.0

The first row contain NaN cause there is no row above that row.

## 3. Shift by Multiple Periods

In [4]:
df["2day_ago_sale"] = df["Sales"].shift(2)
df

            Sales  Previous_day_sale  2day_ago_sale
Date
2023-01-01    100                NaN            NaN
2023-01-02    120              100.0            NaN
2023-01-03     90              120.0          100.0
2023-01-04    150               90.0          120.0
2023-01-05    170              150.0           90.0
2023-01-06    160              170.0          150.0

## 4. Lead Values (Negative Shift)

In [6]:
# Just for ex
df["next_day_sale"] = df["Sales"].shift(-1)
df

            Sales  Previous_day_sale  2day_ago_sale  next_day_sale
Date
2023-01-01    100                NaN            NaN          120.0
2023-01-02    120              100.0            NaN           90.0
2023-01-03     90              120.0          100.0          150.0
2023-01-04    150               90.0          120.0          170.0
2023-01-05    170              150.0           90.0          160.0
2023-01-06    160              170.0          150.0            NaN

## 5. Calculate Day-to-Day Change

In [7]:
# Daily change as compare to previous day (how muct more sales)

df["Daily_change"] = df["Sales"] - df["Sales"].shift(1)
df

,Sales,Previous_day_sale,2day_ago_sale,next_day_sale,Daily_change
Date,,,,,
2023-01-01,100,NaN,NaN,120.0,NaN
2023-01-02,120,100.0,NaN,90.0,20.0
2023-01-03,90,120.0,100.0,150.0,-30.0
2023-01-04,150,90.0,120.0,170.0,60.0
2023-01-05,170,150.0,90.0,160.0,20.0
2023-01-06,160,170.0,150.0,NaN,-10.0

## 6. Shift with Time Offset (Date-based)

In [8]:
df["Sales_3Days_ago"] = df["Sales"].shift(freq='2D')
df

,Sales,Previous_day_sale,2day_ago_sale,next_day_sale,Daily_change,Sales_3Days_ago
Date,,,,,,
2023-01-01,100,NaN,NaN,120.0,NaN,NaN
2023-01-02,120,100.0,NaN,90.0,20.0,NaN
2023-01-03,90,120.0,100.0,150.0,-30.0,100.0
2023-01-04,150,90.0,120.0,170.0,60.0,120.0
2023-01-05,170,150.0,90.0,160.0,20.0,90.0
2023-01-06,160,170.0,150.0,NaN,-10.0,150.0