In [2]:
import pandas as pd

# Time-Based Indexing & Slicing

In [3]:
# Sample DataFrame
df = pd.DataFrame({
    "Date": pd.date_range("2023-01-01", periods=10, freq="D"),
    "Sales": [100, 120, 90, 150, 130, 160, 170, 155, 140, 180]
})

df = df.set_index("Date")
df

            Sales
Date
2023-01-01    100
2023-01-02    120
2023-01-03     90
2023-01-04    150
2023-01-05    130
2023-01-06    160
2023-01-07    170
2023-01-08    155
2023-01-09    140
2023-01-10    180

In [4]:
df.index

DatetimeIndex(['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04',
               '2023-01-05', '2023-01-06', '2023-01-07', '2023-01-08',
               '2023-01-09', '2023-01-10'],
              dtype='datetime64[ns]', name='Date', freq=None)

In [5]:
type(df.index)

pandas.core.indexes.datetimes.DatetimeIndex

## 1. Select a Single Date

In [6]:
df.loc['2023-01-06']

Sales    160
Name: 2023-01-06 00:00:00, dtype: int64

## 2. Slice a Date Range
Date slicing is INCLUSIVE on both sides

In [7]:
df.loc["2023-01-01":"2023-01-06"]

            Sales
Date
2023-01-01    100
2023-01-02    120
2023-01-03     90
2023-01-04    150
2023-01-05    130
2023-01-06    160

## 3. Slice Using Partial Dates
Slice by month.

In [8]:
df.loc["2023-01"]

            Sales
Date
2023-01-01    100
2023-01-02    120
2023-01-03     90
2023-01-04    150
2023-01-05    130
2023-01-06    160
2023-01-07    170
2023-01-08    155
2023-01-09    140
2023-01-10    180

In [9]:
df.loc["2023"]

            Sales
Date
2023-01-01    100
2023-01-02    120
2023-01-03     90
2023-01-04    150
2023-01-05    130
2023-01-06    160
2023-01-07    170
2023-01-08    155
2023-01-09    140
2023-01-10    180

## 4. Select Using Comparison operator

In [10]:
df[df.index > "2023-01-03"]

            Sales
Date
2023-01-04    150
2023-01-05    130
2023-01-06    160
2023-01-07    170
2023-01-08    155
2023-01-09    140
2023-01-10    180

In [11]:
df[(df.index > "2023-01-03") & (df.index < "2023-01-06")]

            Sales
Date
2023-01-04    150
2023-01-05    130

## 5. Select Specific Dates
Using specific index access that rows

In [12]:
df.loc[["2023-01-06", "2023-01-07"]]

            Sales
Date
2023-01-06    160
2023-01-07    170

## 6. Time-Based selection with `.between_time()`
This works only when we have DateTime + Time data

In [14]:
df_time = pd.DataFrame({
    "DateTime": pd.date_range("2023-01-01 09:00", periods=6, freq="2h"),
    "Sales": [100, 120, 90, 150, 130, 160]
}).set_index("DateTime")

df_time

                     Sales
DateTime
2023-01-01 09:00:00    100
2023-01-01 11:00:00    120
2023-01-01 13:00:00     90
2023-01-01 15:00:00    150
2023-01-01 17:00:00    130
2023-01-01 19:00:00    160

In [18]:
df_time.between_time("09:00", "13:00")

                     Sales
DateTime
2023-01-01 09:00:00    100
2023-01-01 11:00:00    120
2023-01-01 13:00:00     90

## 7. Select Data at a Specific time of day

In [20]:
df_time.at_time("19:00")

                     Sales
DateTime
2023-01-01 19:00:00    160