# Understanding Series and DataFrame

In [2]:
import pandas as pd

## What is Series?
Series is a single column of data.

In [3]:
s = pd.Series([10, 20, 30, 40])
print(s)

0    10
1    20
2    30
3    40
dtype: int64

### Access particular value

In [17]:
print(s[2])
print(s[1])

30
20

## What is DataFrames?
Data Frame is a Table (rows + columns). Collection of series.

In [7]:
df = pd.DataFrame({
    "Name" : ["AAA", "BBB", "CCC"],
    "Age" : [10, 20, 30]
})
print(df)

  Name  Age
0  AAA   10
1  BBB   20
2  CCC   30

### Access particular value

In [18]:
print(df["Age"])

0    10
1    20
2    30
Name: Age, dtype: int64

## Basic operations

### On Series

In [25]:
print(s.values)
print(s.index)

[10 20 30 40]
RangeIndex(start=0, stop=4, step=1)

### On DataFrame

In [37]:
print(df.shape)
print("----")
print(df.columns)
print("----")
print(df.index)
print("----")
print(df.dtypes)

(3, 2)
----
Index(['Name', 'Age'], dtype='object')
----
RangeIndex(start=0, stop=3, step=1)
----
Name    object
Age      int64
dtype: object