In [1]:
import pandas as pd

# Summary Statistics

In [2]:
#Sample DataFrame
df = pd.DataFrame({
    "Student": ["Onkar", "Amit", "Sara", "Rohit", "Neha"],
    "Math": [85, 90, 88, 92, 76],
    "Science": [78, 92, 91, 89, 80],
    "English": [80, 86, 89, 90, 75]
})

df

  Student  Math  Science  English
0   Onkar    85       78       80
1    Amit    90       92       86
2    Sara    88       91       89
3   Rohit    92       89       90
4    Neha    76       80       75

## 1. Mean `.mean()`

In [3]:
df["Math"].mean()

np.float64(86.2)

In [4]:
df.mean(numeric_only=True)

Math       86.2
Science    86.0
English    84.0
dtype: float64

## 2. Median `.median()`

In [6]:
df["Math"].median()

np.float64(88.0)

## 3. Mode `.mode()`

In [7]:
df["Math"].mode()

0    76
1    85
2    88
3    90
4    92
Name: Math, dtype: int64

## 4. Quantiles `.quantiles()`

In [8]:
df["Math"].quantile(0.25)     # 25th percentile

np.float64(85.0)

In [9]:
df["Math"].quantile(0.50)     # same as median

np.float64(88.0)

In [10]:
df["Math"].quantile(0.75)     # 75th percentile

np.float64(90.0)

## 5. Variance & Dtandard Deviation `.var()` & `.std()`

In [11]:
df["Math"].var()     # Variance

np.float64(39.2)

In [12]:
df["Math"].std()     # Standard Deviation

np.float64(6.260990336999411)

## 6. Correlation `.corr()`

In [15]:
df[["Math", "Science"]].corr()

             Math   Science
Math     1.000000  0.734994
Science  0.734994  1.000000

In [13]:
df.corr(numeric_only=True)

             Math   Science   English
Math     1.000000  0.734994  0.928605
Science  0.734994  1.000000  0.849644
English  0.928605  0.849644  1.000000

## 7. Covariance `.cov()`

In [17]:
df[["Math", "Science"]].cov()

         Math  Science
Math     39.2     30.0
Science  30.0     42.5

In [18]:
df.cov(numeric_only=True)

         Math  Science  English
Math     39.2    30.00    37.00
Science  30.0    42.50    35.25
English  37.0    35.25    40.50

## 8. `describe()` - One for all

In [19]:
df.describe()

           Math    Science    English
count   5.00000   5.000000   5.000000
mean   86.20000  86.000000  84.000000
std     6.26099   6.519202   6.363961
min    76.00000  78.000000  75.000000
25%    85.00000  80.000000  80.000000
50%    88.00000  89.000000  86.000000
75%    90.00000  91.000000  89.000000
max    92.00000  92.000000  90.000000

## 9. Apply stats column-wise or row-wise

Column-wise is default, for row-wise we have to pass `axis=1`

In [28]:
df.mean(numeric_only=True)     # Column wise

Math       86.2
Science    86.0
English    84.0
dtype: float64

In [29]:
df.mean(numeric_only=True, axis=1)     # Row wise

0    81.000000
1    89.333333
2    89.333333
3    90.333333
4    77.000000
dtype: float64


---

Summary

1. Mean - `.mean()` -> Mathematical mean
2. Median - `.median()` -> Mathematical median
3. Mode - `.mode()` -> Mathematical mode
4. Quantiles - `.quantiles()` -> Mathematical 
5. Variance - `.var()` -> Mathematical Variance
6. Standard Deviation - `.std()` -> Mathematical SD
7. Correlation - `.corr()` -> Mathematical correlation
8. Covariance - `.cov()` -> Mathematical covatiance
9. One for most - `.describe()` -> This gives count, mean, std, min, 20%, 50%, 75%, max
10. Axis based calculations - `.mean(axis=0/1)` -> For Column-wise/Row-wise. 0: Column (default) and 1: Row-wise