In [1]:
import pandas as pd

# Writing Data (Exporting)

## 0. Setup Ex DataFrame

In [3]:
df = pd.DataFrame({
    "Name": ["Aaa", "Bbb", "Ccc"],
    "Marks": [88, 92, 95],
    "City": ["Pune", "Mumbai", "Satara"]
})
df

  Name  Marks    City
0  Aaa     88    Pune
1  Bbb     92  Mumbai
2  Ccc     95  Satara

## 1. Write to CSV -> `.to_csv()`

Points: 

1. Write csv file -> `.to_csv("file_name.csv")`
2. Written file take index column also. To remove that -> `.to_csv("file_name.csv", index=False)`
3. If user wants other seperator it can be -> `.to_csv("file_name.csv", index=False, sep=";")`
4. If used wants specific column to write -> `df["col_name"].to_csv("file_name.csv", index=False)`
4. If used wants multiple columns to write -> `df[list-of-col-name].to_csv("file_name.csv", index=False)`

In [12]:
df.to_csv("written.csv") # full table with index are converted to csv

In [13]:
df.to_csv("written1.csv", index=False) # excludes the index

In [15]:
df.to_csv("written2.csv", index=False, sep=';') # Can add another seperator

In [17]:
df["Name"].to_csv("written3.csv", index=False) # Can add specific columns using subscript

In [19]:
df[["Name", "City"]].to_csv("written4.csv", index=False) # Can add multiple specific columns just use [[list.of.coluns]]

## 2. Write to Excel -> `.to_excel()`

Points:

1. Basic use -> `df.to_excel("file_name.xlsx", index=False)`  
   It creates a excel file "file_name.xlsx" and the sheet name remains default as per excel
2. Write specific sheet -> `df.to_excel("file_name.xlsx", index=False, sheet_name="Score")`  
   It creates a "file_name.xlsx" excel file and inside it creates a "Score" sheet and write in that sheet

In [21]:
df.to_excel("written.xlsx", index=False) # Creates a excel file (default sheet making)

In [22]:
df.to_excel("written1.xlsx", index=False, sheet_name="Score") # Creates a sheet named "Score" in a excel file

## 3. Write to JSON -> `.to_json()`

Points: 

1.

In [25]:
df.to_json("written.json", orient="records") # creates a json file with format which os widely used [{},{}]

## 4. Save file in a folder

Point:

1. You can create folder using python
2. It does not create folder it create file inside existing folder

In [27]:
# 1 
import os
os.makedirs("output", exist_ok=True)

# 2
df.to_csv("output/written.csv", index=False)

# ---END---